In [87]:
from bs4 import BeautifulSoup
import requests

# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

# Importar librerías para procesamiento de texto
# -----------------------------------------------------------------------
import re

Realizará una solicitud HTTP GET a la siguiente url.
Comprobará el código de estado de la respuesta. Si el código no es 200 (OK), imprimirá un mensaje de error y retornará None.
Extraerá los nombres de los coches, los precios rebajados, los precios originales y la información de los kilómetros recorridos de la página.
Organizará los datos extraídos en un DataFrame de pandas con las siguientes columnas:
"coche": Nombres de los coches.
"precio_rebajado": Precios rebajados.
"precio_original": Precios originales.
"km": Kilómetros recorridos.
Retornará el DataFrame resultante

In [108]:
url_coches = "https://www.ocasionplus.com/coches-ocasion?type%3DCAR%26sort%3DFECHAOP_DESC%26page%3D2"
res_coches = requests.get(url_coches)
res_coches.status_code
sopa_coches= BeautifulSoup(res_coches.content, "html.parser")
#print(sopa_coches.prettify())

#<h2 style="overflow-x:hidden">Hyundai i20 1.2 MPI (75CV) Essence LE</h2>
diccionario_pagina_coches = {"nombre":[], "precio_original":[],"precio_rebajado":[]}

lista_nombre_coches = sopa_coches.find_all("h2",{"style":"overflow-x:hidden"})
lista_nombre_coches
nombres_coches =[]
for nombre in lista_nombre_coches:
    nombre_text = nombre.getText()  # Extraemos el texto de cada elemento y lo almacenamos en nombre_text
    nombres_coches.append(nombre_text)
   
diccionario_pagina_coches["nombre"] = nombres_coches



lista_precio_ori = sopa_coches.find_all("span",{"class":"jsx-2870186023 priceLast"})
lista_precio_ori
precio_original =[]
for precio in lista_precio_ori:
    precio_original_text= precio.getText()
    precio_original.append(precio_original_text)

diccionario_pagina_coches["precio_original"] = precio_original
len(precio_original)


lista_precio_reb = sopa_coches.find_all("span",{"class":"jsx-2689423372 price"})
lista_precio_reb
precio_rebajado =[]
for precio in lista_precio_reb:
    precio_rebajado_text =precio.getText()
    precio_rebajado.append(precio_rebajado_text)

diccionario_pagina_coches["precio_rebajado"] = precio_rebajado

lista_km = sopa_coches.find_all("span", {"class": "jsx-3960002075 detail big"})
valores_km = []

#for elemento in lista_km:
    #texto = elemento.get_text()
    #match = re.search(r'(\d+\.\d+)\s*km', texto)
    #if match:
        #valor_km = match.group(1)
        #valores_km.append(valor_km)

#diccionario_pagina_coches["km"] = valores_km


len(valores_km)




#<img src="https://d2vub9o4tqpvne.cloudfront.net/7QUTp-181ROLpTllxjLyS9231VvjQgnLQ9zLi6gtR-c/icon/aHR0cHM6Ly9nb3AtZ2FsbGVyeS1kZXYuczMuZXUtd2VzdC0xLmFtYXpvbmF3cy5jb20vb2Nhc2lvbnBsdXMvc3RhdGljL2ljb25zL09QLUlDT05PUy1raWxvbWV0cmFqZS1ncmlzLnBuZw" alt="KM" width="25px" height="22px" class="jsx-3960002075 icon">

0

In [109]:
len(nombres_coches)

20

In [104]:
len(precio_original)

20

In [107]:
len(precio_rebajado)

20

In [110]:
diccionario_pagina_coches

{'nombre': ['Ford Kuga 1.5 EcoBlue ST-Line Auto  (120 CV)',
  'Jeep Renegade 1.0G Limited 4x2  (120 CV)',
  'BMW X1 sDrive20d (190 CV)',
  'Hyundai i10 1.0 Klass (66 CV)',
  'Citroen C3 PureTech 110 S&S Feel Pack EAT6 Auto (110 CV)',
  'Ford Kuga 1.5 EcoBlue ST-Line  (120 CV)',
  'Volkswagen Caddy Profesional Beach 2.0 TDI (102CV) BMT',
  'Peugeot 3008 SUV PureTech 130 S&S Allure (130 CV)',
  'Ford Focus 1.0 Ecoboost MHEV 155cv  ST-Line Auto',
  'SEAT Arona 1.0 TSI Style Go2(110 CV)',
  'Dacia Dokker Essential 1.6 (110CV) ECO-G N1 GLP',
  'Hyundai i40 1.7 CRDI BlueDrive Tecno (115 CV)',
  'Citroen Berlingo Combi BlueHDi 100 S&S Talla M 100 Años (102 CV)',
  'Kia Ceed KIA Ceed 1.0 T-GDi 74kW (100CV) Drive',
  'Opel Corsa 1.2 XEL Edition  (75 CV)',
  'Kia Stonic 1.2 CVVT Concept Eco-Dynamic(84 CV)',
  'Kia Sportage 1.6 GDI Concept 4x2 (135 CV)',
  'Peugeot 208 PureTech 100 GT(100 CV)',
  'Renault Clio Business TCe(90 CV)',
  'Citroen Berlingo BlueHDi 100 S&S Talla M Shine (102 CV)'],
 'precio_original': ['26.450€',
  '18.350€',
  '20.800€',
  '8.800€',
  '17.150€',
  '27.800€',
  '18.800€',
  '20.950€',
  '27.850€',
  '14.900€',
  '14.990€',
  '16.990€',
  '20.350€',
  '21.900€',
  '12.890€',
  '14.950€',
  '11.900€',
  '19.400€',
  '14.100€',
  '19.790€'],
 'precio_rebajado': ['24.045€',
  '16.682€',
  '18.909€',
  '8.000€',
  '15.591€',
  '25.273€',
  '17.091€',
  '19.045€',
  '25.318€',
  '13.545€',
  '13.627€',
  '15.445€',
  '18.500€',
  '19.909€',
  '11.718€',
  '13.590€',
  '10.818€',
  '17.636€',
  '12.818€',
  '17.990€']}

In [97]:
lista_km = sopa_coches.find_all("span", {"class": "jsx-3960002075 detail big"})
valores_km = []

for elemento in lista_km:
    texto = elemento.get_text()
    match = re.search(r'(\d+\.\d+)\s*km', texto)
    if match:
        valor_km = match.group(1)
        valores_km.append(valor_km)
print(valores_km)

['39.832', '69.568', '140.601', '52.158', '31.405', '108.721', '77.805', '8.672', '75.826', '34.416', '60.743', '48.783', '15.687', '61.645', '63.274', '126.648', '48.940', '48.949', '59.920']

In [111]:
df_coches=pd.DataFrame(diccionario_pagina_coches)
df_coches

,nombre,precio_original,precio_rebajado
0,Ford Kuga 1.5 EcoBlue ST-Line Auto (120 CV),26.450€,24.045€
1,Jeep Renegade 1.0G Limited 4x2 (120 CV),18.350€,16.682€
2,BMW X1 sDrive20d (190 CV),20.800€,18.909€
3,Hyundai i10 1.0 Klass (66 CV),8.800€,8.000€
4,Citroen C3 PureTech 110 S&S Feel Pack EAT6 Aut...,17.150€,15.591€
5,Ford Kuga 1.5 EcoBlue ST-Line (120 CV),27.800€,25.273€
6,Volkswagen Caddy Profesional Beach 2.0 TDI (10...,18.800€,17.091€
7,Peugeot 3008 SUV PureTech 130 S&S Allure (130 CV),20.950€,19.045€
8,Ford Focus 1.0 Ecoboost MHEV 155cv ST-Line Auto,27.850€,25.318€
9,SEAT Arona 1.0 TSI Style Go2(110 CV),14.900€,13.545€
10,Dacia Dokker Essential 1.6 (110CV) ECO-G N1 GLP,14.990€,13.627€
11,Hyundai i40 1.7 CRDI BlueDrive Tecno (115 CV),16.990€,15.445€
12,Citroen Berlingo Combi BlueHDi 100 S&S Talla M...,20.350€,18.500€
13,Kia Ceed KIA Ceed 1.0 T-GDi 74kW (100CV) Drive,21.900€,19.909€
14,Opel Corsa 1.2 XEL Edition (75 CV),12.890€,11.718€
15,Kia Stonic 1.2 CVVT Concept Eco-Dynamic(84 CV),14.950€,13.590€
16,Kia Sportage 1.6 GDI Concept 4x2 (135 CV),11.900€,10.818€
17,Peugeot 208 PureTech 100 GT(100 CV),19.400€,17.636€
18,Renault Clio Business TCe(90 CV),14.100€,12.818€
19,Citroen Berlingo BlueHDi 100 S&S Talla M Shine...,19.790€,17.990€